* {
    font-family: "新細明體";
}
body {
    margin: 0%;
    background-color: #EAE0D5;
}

header {
    width: 100%;
    margin: 0%;
    background-color: #22333B;
    display: flex;
    position: fixed;
    z-index: 50;
}

.t-logo {
    margin: 15px 50px 0;
}

nav {
    display: flex;
    padding: 25px 160px 0px 80px;
    font-size: 23px;
}
nav a {
    color: antiquewhite;
    text-decoration: none;
    padding: 25px 35px 20px;
    margin: 0;
}
.t-showProducts {
    padding: 25px 0 0 ;
    margin: 0 40px 0 0;
}
.t-MemberCenter {
    padding: 25px 0 0 ;
    margin: 0 40px 0 0;
}
.t-aboutUS {
    padding: 25px 0 0 ;
}

.t-icon {
    display: flex;
    padding: 40px 25px 0px;
}
.t-i-user {
    margin: 0 30px 0 20px;
}
.t-i-cart {
    margin: 0 20px 0 20px;
}

.t-search{
    padding: 45px 10px 0;
}
.searchForm {
    display: flex;
}
.searchText {
    background-color: #EAE0D5;
    font-size: medium;
    width: 180px;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 15px;
    border-radius: 25px 0 0 25px;
}
.searchIcon{
    padding: 0px 15px ;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: #EAE0D5;
}

.slide {
    padding: 50px 0px 40px;
}

footer {
    width: 100%;
    float: left;
    padding: 3% 0;
    color: #EAE0D5;
    text-align: center;
    background: #22333B;
}