body{
    background-color: #EAE0D5;
    box-sizing: content-box;
}

section {
    margin: 10% auto;
    padding: 2%;
    background-color: rgba(255, 250, 250, 0.8);
    border-radius: 2em;
    width: 40%;
    justify-content: center;
    align-items: center;

    letter-spacing:.3em;
    display: flex;
    flex-direction: column;
    height: auto;
}

h3{
    text-align: center;
}

.towROW{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.buttonLOOK{
    margin: 0px auto;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
	transition: all 250ms;
}
.form-lineheight{
    line-height: 5em;
}

.NEXT{
    position: absolute;
    text-align: center;
}

@media screen and (max-width:600px) {
    section{
        width: 90%;
    }
}