aside {
    position: fixed;
    float: left;
    width: 15%;
    margin: 100px 0 0 0;
}
aside div {
    margin: 5px 0 0;
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
    background-color: #22333B;
}
aside div a {
    color: antiquewhite;
    text-decoration: none;
    padding: 25px 60px;
    margin: 0;
}

section {
    margin: 120px 60px 70px;
    border: #c9c2bbde solid;
    border-radius: 10px;
    float: right;
    width: 77%;
}

.memberdata_tital {
    padding: 3% 0 0;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.memberdata table {
    margin: 0 auto;
    width: 70%;
}
.memberdata img {
    border-radius: 10px;
    margin: 0% 30% 35% 20%;
    background-color: #22333B;
}
.memberdata form {
    padding-left: 15%;
}
.memberdata input {
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px;
    margin: 20px 60px 20px 30px;
    font-size: 16px;
    letter-spacing: 0.2em;
    width: 350px;
}

.reset_data {
    margin: 20px 0px 40px 100px;
    display: flex;
    width: 42%;
    padding: 0 6% ;
    border: none;
    border-radius: 25px;
    background-color: #f8f1e9;
    box-shadow: 5px 6px 0 #22333B;
}
.reset_data img {
    margin: 5% 10% 5% 0;
    background-color: #f8f1e9;
}
.reset_data h5 {
    margin-top: 10%;
}

.section-2 {
    margin: 0 60px 60px;
}
.orderRecord_tital {
    padding: 3% 0 0;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.orderRecord table {
    margin: 0 auto;
    width: 70%;
}