aside {
    position: fixed;
    float: left;
    width: 15%;
    margin: 100px 0 0 0;
}
aside div {
    margin: 5px 0 0;
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
    background-color: #22333B;
}
aside div a {
    color: antiquewhite;
    text-decoration: none;
    padding: 25px 60px;
    margin: 0;
}

section {
    margin: 120px 60px 70px;
    border: #c9c2bbde solid;
    border-radius: 10px;
    float: right;
    width: 77%;
}

.memberdata{
    padding: 0% 5%;
}
.memberdata_tital {
    padding: 3% 0 0;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.memberdata_all {
    display: flex;
    justify-content: space-around;
}
.memberout {
    padding: 4%;
}
.memberout img {
    border-radius: 10px;
    margin: 0%;
    background-color: #22333B;
}
.memberdata_content {
    padding: 2.5% 0;
}
.memberdata_content form{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    justify-content: space-around;
}
.md-inputtwo p {
    text-align: center;
    margin-bottom: 0%;
    color: hsla(29, 100%, 50%, 0.871);
}
.md-inputone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.memberdata input {
    background-color: white;
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 0.2em;
    width: 350px;
}
.md-form_button {
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.reset_data {
    margin: 0;
    padding: 0;
    display: flex;
    border: none;
    border-radius: 10px;
    background-color: #f8f1e9;
    box-shadow: 5px 6px 0 #22333B;
}
.activebtn img {
    border-radius: 0%;
    margin: 5% 10% 5% 0;
    background-color: #f8f1e9;
}
.changebtn .activebtn div:first-child.active {
    display: none;
}
.changebtn button div:first-child.active+div:last-child {
    display: block;
}

.section-2 {
    margin: 0 60px 60px;
}
.orderRecord_tital {
    padding: 3% 0 0;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.orderRecord table {
    margin: 0 auto;
    width: 70%;
}