.row{
    /* width: 100%; */
    /* margin: 3%; */
    padding-top: 150px;
    padding-right: 150px ;
    padding-bottom: 150px;
    display: flex;
}
.row-left{
    /* float: left; */
    margin: 0% auto;
    padding: 0%;
    margin-left: 10%;
    /* margin-right: 5%; */
} 
.row-right{
    /* float: right; */
    margin: 0% auto;
    padding: 0%;
    text-align: left;
    /* margin-left: 5%; */
    margin-right: 6%;
}
.board-left {
    margin: auto;
    padding-top: 20%;
    text-align: left;
}