aside {
    position: fixed;
    float: left;
    width: 15%;
    margin: 30px 0 0 0;
}
aside div {
    margin: 5px 0 0;
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
    background-color: #22333B;
}
aside div a {
    color: antiquewhite;
    text-decoration: none;
    padding: 25px 60px;
    margin: 0;
}

section {
    margin: 40px 60px;
    border: #c9c2bbde solid;
    border-radius: 10px;
    float: right;
    width: 77%;
}
.section_Tital {
    display: flex;
    margin: 2% 4.5%;
}
.section_Tital h2 {
    font-weight: bold;
}
.section_Tital h3 {
    margin: 5px 0 0 8px;
    font-weight: bold;
}
.Row {
    /* display: flex; */
    margin: 0;
    justify-content: left;
}
.Row img {
    margin: 0;
    width: 100%;
    width: 325px;
    height: 325px;
}
.products {
    padding: 1%;
    margin: 1rem 1rem;
    max-width: 340px;
    display: inline-block;
}
.products p {
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 40px;
}
.products a {
    text-decoration: none;
    color: #22333B;
}
/*.frame{
    padding: 1em;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-height: auto;

}*/

.products img{
    /* max-width: 330px;
    height: 70%; */
    overflow: hidden;
    margin: 15px auto;
}

@media(max-width:768px) {
    .products {
        height: 46%;
    }
}

@media(max-width:569px) {
    .products {
        height: 96%;
    }
}