body{
  max-width: 100%;
}
.TOPbody{ 
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

body {
  margin: 0%;
  background-color: #EAE0D5;
}
.product_top{
  max-width: 1200px;
  padding: 3%;
  margin: 5% auto;
  margin-top: 8%;
  border-radius: 20px 20px;
  border: 2px solid gray;
  width: 70%;
  height: 50%;
}

.product_intro{
  max-width: 1200px;
  padding: 3%;
  margin: 0% auto;
  margin-top: 5%;
  /* section2 */
  border-radius: 20px 20px;
  border: 2px solid gray;
  width: 70%;
  height: 50%;
  line-height: 3em;
}

.product_comment{
  max-width: 1200px;
  padding: 3%;
  margin: 3% auto;
  margin-top: 5%;
  /* section3 */
  border-radius: 20px 20px;
  border: 2px solid gray;
  width: 70%;
  height: 50%;
}

.price{ 
  color: red;
  font-weight: bold;
}
.image{
  /* padding: 1em; */
  padding-bottom: 2em;
  /* margin: 0 auto; */
  position: relative;
  width: 35%;
  max-height: auto;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: center;
}
.image img{
  max-width: 370px;
  height: auto;
  overflow: hidden;
  border: 1px solid black;
}
.text{  /*商品*/
  /* margin: 5px; */
  width: 60%;
  padding: 5px;
  /* border:2px solid  #22333B; */
  /* align-items: center;
  justify-content: center;
  margin: auto; */
  line-height: 4;
}
.inventory{ /*庫存*/
  color:#22333B;
}
.title{
  padding-bottom: 1dem;
  /* margin: left; */
}

.introduction{
  margin: left;
}

@media(max-width:1200px) {
  .image {
      width: 32%;
  }
  /* .section{
    margin-top: 40%;
    margin: 80%;
  } */
}

@media(max-width:768px) {
  .image {
      width: 46%;
  }
  /* .section{
    margin-top: 40%;
    margin: 80%;
  } */
}

@media(max-width:569px) {
  .image {
      width: 96%;
  }
  /* .section{
    margin-top: 30%;
  } */
}

/* 使用者名稱 */
.username{
  padding: 1em;
  font-size: 1.2em;
}
.userphoto{
  padding: .5em;
}
.comment-timestamp{
  color:gray;
}




/* 會動的星星 */
.board {
    width:250px;
    margin:0px auto;
  }
  .my-rating-6 {
    display: flex;
    justify-content: space-between;
  }
  .star{
    position: relative;
    justify-content:left;
    align-items: left;
    /* margin: auto; */
    width: 15%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  }
  /* 不會動的星星 */
  .checked {
    color: orange;
  }
/* Button外觀 */
.buttonLOOK{
  border:0;
  background-color:#22333B;
  color:#fff;
  border-radius:10px;
  cursor:pointer;
  width:150px;
  height:50px;
  margin: 1%;
}

input:hover {
  color:#D79B00;
  background-color:#fff;
  border:2px #D79B00;
}


.comment-userphoto img {
  overflow: hidden;
  border: 5px solid #fafafa;
  background-color: #fafafa;
  box-shadow: 0 0 .5rem #babbbc;
  transform: rotate(-360deg);
  border-radius: 50%;
}
