.register_flex{
    display: flex;
    padding: 150px;
}

.member_register{
    margin: 4% auto;
    padding: 5%;
    width: 30%;
    border-radius: 25px;
    opacity: 1;
    /* opacity: 1; */
    background-color: rgba(255, 250, 250, 0.8);
    font-size: 1em;
    border-spacing: 10px;
    box-shadow: 10px 8px 6px #444
    
}
.register_button{
    text-align: center;
    position: relative;
    z-index: 50;
}
.member_register-td{
    padding: 1.2em;
    text-align: left;
}
.button{
    margin: 5px;
}