section{
    margin: 0;
    padding-top: 5%;
}

.register_flex{
    display: flex;
}

.member_register{
    margin: 4% auto;
    padding: 5%;
    width: 30%;
    border-radius: 25px;
    opacity: 1;
    background-color: rgba(255, 250, 250, 0.8);
    font-size: 1em;
    border-spacing: 10px;
    box-shadow: 10px 8px 6px #444;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member_register-th{
    text-align: center;
    padding: .3em;
}
.member_register-userphoto {
    border: 0.1em solid #444;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: auto;
    text-align: center;
}
.register_button{
    text-align: center;
    position: relative;
    z-index: 50;
}
.member_register-td{
    padding: 1.2em;
    text-align: left;
}
.button{
    margin: 5px;
}
input {
    padding: .3em;
}
.buttonLOOK{
    border:0;
    background-color:#22333B;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    width:100px;
    height:50px;
    margin:1em;
  }
  
  input.buttonLOOK:hover {
    color:#D79B00;
    background-color:#fff;
    border:2px #D79B00;
  }



@media(max-width:480px) {
    .member_register {
        width: 60%;
        padding: 45%;
        padding-top: 3px;
        margin: 10%;
        margin-top: 150px;
    }

}
@media(max-width:850px) {
    .member_register {
        width: 60%;
        padding: 5%;
        padding-top: 3px;
        margin: 10%;
        margin-top: 150px;
    }
}
@media(max-width:1200px) {
    .member_register {
        width: 60%;
        padding: 25%;
        padding-top: 3px;
        margin: 5%;
        margin-top: 150px;

    }
    section{
        justify-content: center;
        align-items: center;
    }

}


.member_register-userphoto {
		overflow: hidden;
		border: 5px solid #fafafa;
		background-color: #fafafa;
		/* margin-left: -100px; */
		box-shadow: 0 0 .5rem #babbbc;
		transform: rotate(-360deg);
}
.member_register-userphoto img{
    width: 100%;
}

