.shop_cart{
    margin: auto;
    border: 1px solid black;
    margin-top: 10%;
    position: relative;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #EAE0D5;
    box-sizing: content-box;
}

/* .Cart-section {
    margin: 10%;
    padding: 50%;
    background-color: aqua;
} */
.NEXT{
    position: relative;
    margin-top: 5px;
}