.shop_cart th,td{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.shop_cart{
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    width: 60%;
}

body{
    background-color: #EAE0D5;
    box-sizing: content-box;
}

/* .Cart-section {
    margin: 10%;
    padding: 50%;
    background-color: aqua;
} */
.NEXT{
    position: relative;
    margin-top: 5px;
}

td{
    text-align: center;
}
th{
    text-align: center;
    background-color: #647687;
    color: white;
}
.delete :hover {
    cursor: pointer;
    color: red;
}