/* .shop_cart th,td{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
} */
.shop_cart-tr{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.shop_cart{
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    width: 60%;
}

body{
    background-color: #EAE0D5;
    box-sizing: content-box;
}

/* .Cart-section {
    margin: 10%;
    padding: 50%;
    background-color: aqua;
} */
.NEXT{
    position: relative;
    padding: 2em;
    justify-content: center;
    align-items: center;
    margin: auto;
}

td{
    text-align: center;
}
th{
    text-align: center;
    background-color: #647687;
    color: white;
}


/* 前往結帳button外觀 */
.buttonLOOK{border:0;
    background-color:#22333B;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    width:150px;
    height:50px
}
  
 input:hover {
    color:#D79B00;
    background-color:#fff;
    border:2px #D79B00;
  }


.delete  {
    /* background-color: #22333B;
    border-radius: .5em; */
    /* color: white; */
    padding: .2em;
}
.delete :hover {
    border: 1px solid black;
}