
.register{
    font-size: 1em;
}

section {
    margin: 0%;
    padding-top: 3%;

}

.sign_in{
    margin: 0% auto;
    display: block;
    width: 40%;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #D79B00;
    background-color: rgba(255, 250, 250, 0.8);
    border-spacing: 10px;
    box-shadow: 6px 4px 2px #444;
    font-size: 18px;
    letter-spacing: 0.2em;
    /* line-height: 3em; */
}

.sign_in img {
  margin-top: 10%;
}

.sign_in h1 {
  margin: 3% 0;
  font-size: 30px;
  font-weight: bolder;
}

.sign_in p {
  margin: 5% 0;
}

.sign_in input {
  margin-left: 5px;
}

.register {
  margin: 2% 0 10%;
}


.buttonLOOK{
  border:0;
  background-color:#22333B;
  color:#fff;
  border-radius:10px;
  cursor:pointer;
  width:100px;
  height:50px;
  margin:.5em;
}

input.buttonLOOK:hover {
  color:#D79B00;
  background-color:#fff;
  border:2px #D79B00;
}

#user_email{
  padding: .3em;
}
#user_password{
  padding: .3em;
}